<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDAutoWpf.Properties.Settings.BDConnexion" connectionString="Data Source=DESKTOP-U9ONRQ2\SQLEXPRESS;AttachDbFilename=D:\WPF-Winforms\NouvelleBD\BDAuto3\BDAuto2.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>